:root {
    --color-white: white;
    --color-red-light: #FF7575;
    --color-gray: #909090;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    padding-top: 75px;
    background-color: #232830;
    color: var(--color-white);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

.header__logo {
    font-size: 30px;
}

.header__navbar {
    display: flex;
    gap: 36px;
}

.header__logo > a,
.header__navbar > a {
    color: var(--color-white);
}

.main {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__headline {
    margin-top: 40px;
    font-family: "Recursive", sans-serif;
    font-style: italic;
    font-size: 71px;
    font-weight: 400;
    color: var(--color-red-light);
}

.main__quote {
    margin-top: 17px;
    font-size: 29px;
    font-weight: 400;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    margin-top: 100px;
    border-top: 3px solid rgba(77, 77, 77, .2);
    min-height: 65px;
}

.nav {
    display: flex;
    gap: 41px;
    align-items: center;
    height: inherit;
    position: relative;
}

.nav__buttons {
    display: flex;
    gap: 13px;
}

.nav__button {
    display: flex;
}

.nav__filter {
    display: flex;
    overflow: auto;
    gap: 36px;
}

.nav__filter > a {
    font-family: "Recursive", sans-serif;
    color: var(--color-gray);
    font-style: italic;
    font-size: 27px;
    font-weight: 400;
}

.nav__filter::-webkit-scrollbar {
    display: none;
}

.nav__filter-shadow {
    position: absolute;
    background-image: linear-gradient(270deg, #232830 0.01%, transparent 87.5%);
    width: 116px;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.content {
    margin-top: 94px;
    color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 37px;
}

.item {
    height: 100%;
    border: 1px solid white;
    border-radius: 6%;
    background-color: white;
    padding: 26px 26.46px 29px;
    position: relative;

}

.content-img {
    width: 338px;
    height: 160px;
}

.inline {
    display: inline-block;
}

.circle {
    margin: 0 26px 4px 17px;
}

.article-headline {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 19px;
    padding-top: 33px;
}

.article-text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-top: 13px;

}

.date {
    position: absolute;
    bottom: 5%;
}

.page-switch {
    grid-area: switch;
    justify-self: center;
    margin-right: 60px;
}

li {
    float: left;
    list-style-type: none;
    text-decoration: none;
    font-family: Recursive;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
}

li a.hop-one {
    padding: 0 29px;
}

li.num a {
    padding: 0 14px;
    position: relative;
}

li a:hover {
    color: #FF7575;
    font-weight: 700;
}

li a::before {
    content: '';
    border-bottom: 3px solid #FF7575;
    position: absolute;
    display: block;
    top: -17px;
}

li a:hover::before {
    width: 54px;
}

li a.hop-one:hover::before {
    width: 100%;
}


.footer {
    grid-area: ft;
    min-height: 195px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid #4D4D4D;
    margin-top: 157px; 
    padding: 36px 17% 0 18%;

}

.ft-box {
    display: inline-flex;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 600;
    font-size: 19px;
    color: #ffffff;
    text-align: center;
    height: max-content;
    margin-bottom: 127px;
}

.ft-writings {
    font-size: 30px; 
    margin-right: 16px;
}

.painted {
    background-color: #4699E0;
    border-radius: 5px;
    padding: 0 13px;
}


a.painted {
    padding: 0 8px 0 11px;
    align-items: center;
}

a.ft-box img {
    height: 16px;
    width: 20px;
    margin: 0 10px 0 0;
}

@media screen and (max-width: 1300px) {

    .filter-img {
        height: 24px;
        width: 24px;
    }
    
    
    td {
        padding: 0 15px;
    }
    
    td a {
        font-size: 24px;
    }

    .content {
        grid-template: repeat(3, 400px) / repeat(3, 350px);
        gap: 27px;
        padding: 3% 0;
    }

    .item {
        padding: 26px 6.5% 29px;
        position: relative;
    
    }

    .content-img {
        width: 302px;
        height: 150px;
    }
    
    .circle {
        margin: 0 26px 4px 17px;
    }
    
    .article-headline {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 17px;
        padding-top: 15px;
    }
    
    .article-text {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 14px;
        padding-top: 13px;
    
    }
    
    .footer {
        margin-top: 100px; 
        padding: 36px 17% 0 18%;

    }

    
}

@media screen and (max-width: 1024px) {
    
    .header-top {
        font-size: 20px;
    }

    .heading1 {
        font-size: 24px;
    }

    .headline {
        font-size: 59px;
    }
        
    .quote {
        font-size: 20px;
    }

    .filter-img {
        height: 14px;
        width: 14px;
    }
    
    
    td {
        padding: 0 10px;
    }
    
    td a {
        font-size: 20px;
    }

    .content {
        grid-template: repeat(5, 400px) / repeat(2, 350px);
        gap: 27px;
        padding: 3% 0;
    }
    
    .footer {
        margin-top: 50px; 
        padding: 36px 17% 0 18%;

    }

    .ft-box {
        font-size: 16px;
    }
    
    .ft-writings {
        font-size: 24px; 
    }
    

}